In [1]:
import pandas as pd

In [2]:
#a partir de Ã©ste codigo se define la 
demanda_ecuador=pd.ExcelFile("MLIQ_DIA_EXE_2019-11-02.xls")
demanda_ecuador

In [3]:
demanda_activa=pd.read_excel(demanda_ecuador, 'Erd', skiprows=6)
demanda_activa=demanda_activa.drop(['Agente'], axis=1)
df=pd.DataFrame(data=demanda_activa)
df=df[df['Barra'].notna()]
demanda=df.groupby("Barra").sum()
demanda1=demanda.filter(demanda.columns[1:-1])
demanda1.to_csv("demanda1.csv")

In [4]:
my_date_range=pd.date_range(start='2019-01-11 00:00:00', end='2019-01-11 23:00:00',freq = 'H')

demanda1=demanda1.rename(columns={'Hora 1':my_date_range[0],'Hora 2':my_date_range[1],'Hora 3':my_date_range[2], 'Hora 4':my_date_range[3],
                  'Hora 5':my_date_range[4],'Hora 6':my_date_range[5], 'Hora 7':my_date_range[6], 'Hora 8':my_date_range[7],
                  'Hora 9':my_date_range[8],'Hora 10':my_date_range[9], 'Hora 11':my_date_range[10], 'Hora 12':my_date_range[11],
                  'Hora 13':my_date_range[12],'Hora 14':my_date_range[13],'Hora 15':my_date_range[14],'Hora 16':my_date_range[15],
                  'Hora 17':my_date_range[16],'Hora 18':my_date_range[17],'Hora 19':my_date_range[18],'Hora 20':my_date_range[19],
                  'Hora 21':my_date_range[20],'Hora 22':my_date_range[21],'Hora 23':my_date_range[22],'Hora 24':my_date_range[23]})

In [5]:
my_date_range

DatetimeIndex(['2019-01-11 00:00:00', '2019-01-11 01:00:00',
               '2019-01-11 02:00:00', '2019-01-11 03:00:00',
               '2019-01-11 04:00:00', '2019-01-11 05:00:00',
               '2019-01-11 06:00:00', '2019-01-11 07:00:00',
               '2019-01-11 08:00:00', '2019-01-11 09:00:00',
               '2019-01-11 10:00:00', '2019-01-11 11:00:00',
               '2019-01-11 12:00:00', '2019-01-11 13:00:00',
               '2019-01-11 14:00:00', '2019-01-11 15:00:00',
               '2019-01-11 16:00:00', '2019-01-11 17:00:00',
               '2019-01-11 18:00:00', '2019-01-11 19:00:00',
               '2019-01-11 20:00:00', '2019-01-11 21:00:00',
               '2019-01-11 22:00:00', '2019-01-11 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [6]:
demanda1['Barra']=demanda1.index
demanda1

,2019-01-11 00:00:00,2019-01-11 01:00:00,2019-01-11 02:00:00,2019-01-11 03:00:00,2019-01-11 04:00:00,2019-01-11 05:00:00,2019-01-11 06:00:00,2019-01-11 07:00:00,2019-01-11 08:00:00,2019-01-11 09:00:00,...,2019-01-11 15:00:00,2019-01-11 16:00:00,2019-01-11 17:00:00,2019-01-11 18:00:00,2019-01-11 19:00:00,2019-01-11 20:00:00,2019-01-11 21:00:00,2019-01-11 22:00:00,2019-01-11 23:00:00,Barra
Barra,,,,,,,,,,,,,,,,,,,,,
AGO138,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,AGO138
ALA138,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,ALA138
AMB069,40195.858,38312.991,36564.242,35888.953,35829.962,35781.733,33393.026,36479.478,39519.957,41910.766,...,38141.054,37755.840,38528.800,50418.616,53923.653,52165.974,49322.246,44497.517,40870.235,AMB069
BAB069,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,BAB069
BAN069,1094.781,1026.577,1003.066,985.651,994.529,976.091,894.973,981.054,1061.670,1119.995,...,1141.537,1121.745,1138.429,1512.568,1640.409,1607.317,1499.180,1387.385,1260.598,BAN069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TUL069,9206.698,8387.670,8098.952,8215.322,8787.674,9139.571,8468.410,9940.183,11878.633,12619.786,...,10871.832,10437.616,10718.129,15047.604,15695.984,14750.307,13429.641,11649.222,10279.001,TUL069
VI1046,28012.375,25915.202,24707.981,24184.452,24299.636,24660.159,23860.902,26434.606,30773.628,31664.512,...,27765.841,27694.515,29177.959,33734.263,33623.534,32228.516,29201.830,26954.139,25439.666,VI1046
VIC138,53237.190,50540.973,50174.135,49520.812,50115.400,52152.237,49646.573,56768.048,63744.229,76294.109,...,72697.812,71113.781,72614.908,81768.544,87785.789,85654.306,78778.513,68187.003,56805.955,VIC138
VIL069,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,VIL069
YAN069,4869.371,4516.564,4289.292,4149.521,4149.110,4259.410,3949.997,4231.585,4801.279,5239.725,...,5397.944,5408.739,5437.211,6657.750,7094.907,6890.731,6557.425,5969.018,5281.027,YAN069

In [7]:
df1=pd.melt(demanda1,id_vars=['Barra'],value_vars=demanda1.columns[:-1])
df2=df1.sort_values(['Barra','variable'])
df2.reset_index(drop=True)

       Barra            variable     value
0     AGO138 2019-01-11 00:00:00     0.000
1     AGO138 2019-01-11 01:00:00     0.000
2     AGO138 2019-01-11 02:00:00     0.000
3     AGO138 2019-01-11 03:00:00     0.000
4     AGO138 2019-01-11 04:00:00     0.000
...      ...                 ...       ...
2179  YAN069 2019-01-11 19:00:00  7094.907
2180  YAN069 2019-01-11 20:00:00  6890.731
2181  YAN069 2019-01-11 21:00:00  6557.425
2182  YAN069 2019-01-11 22:00:00  5969.018
2183  YAN069 2019-01-11 23:00:00  5281.027

[2184 rows x 3 columns]